@import url(https://fonts.googleapis.com/css?family=Red+Hat+Display:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: inherit;
    overflow-x: hidden;
    box-shadow: none;
    font-family: "Red Hat Display", sans-serif;
}

:root {
    --a: #1f306e;
    --b: #553772;
    --c: #8f3b76;
    --d: #c7417b;
    --e: #f5487f;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
    background-color: #131930;
}

header nav {
    z-index: 1;

    width: 100%;
    color: #000;
    padding: 20px 0;
    background-color: #f5487f;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header nav ul {
    display: flex;
    text-align: center;
}

header nav ul li a {
    color: #000;
    font-weight: 800;
    margin: 10px 20px;
    transition: all 0.6s;
}

header nav ul li a:hover {
    text-decoration: none;
}

main {
    width: 100%;
    color: #f2f2f2;
    margin: 120px 0 20px 0;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

main>section {
    width: 100%;
}

.slogan {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.plans {
    margin-top: 120px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.plans>div {
    margin-top: 40px;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

strong {
    color: #f5487f;
}

.svg {
    width: 350px;
    height: 350px;
    max-width: 100%;
}

.svg-animation {
    transition: all 0.6s;
    animation: appears 1s ease-in-out forwards;
}

.icon {
    cursor: pointer;
    transition: all 0.6s;
    animation: spin 2s ease-in-out infinite;
}

.icons {
    margin-right: 15px;
}

.m-free,
.m-popular {
    color: #f2f2f2;
    font-weight: 800;
    padding: 2px 6px;
    font-size: 0.8rem;
    border-radius: 0.2rem;
}

.m-free {
    background-color: #553772;
}

.m-popular {
    background-color: #f5487f;
}

.box {
    margin: 0.5rem 1rem;
    width: calc(272px - 2%);
    padding: 20px;
    border-radius: 1rem;
    color: #000;
    background-color: #f2f2f2;
    box-shadow: 4px 4px 16px 0px rgba(255, 255, 255, 0.2);
}

.box ul {
    margin-top: 20px;
}

.box ul li {
    margin-top: 10px;
}

.box ul li::before {
    content: 'â‡ ';
    font-weight: 800; 
}

.box h2 {
    margin-top: 10px;
}

.box hr {
    margin: 20px 0;
}

.box .button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box .button button {
    color: #f2f2f2;
    padding: 0.6rem 1rem;
    margin: 20px 0;
    background-color: #704A94;
    border: none;
    border-radius: 0.8rem;
    font-size: 0.9rem;
    font-weight: 700;
    transition: all 0.6s;
    box-shadow: 4px 4px 12px 0px rgba(50, 50, 50, 0.5);
}

.box .button button:hover {
    cursor: pointer;
    background-color: #553772;
}

footer {
    width: 100%;
}

footer section {
    width: 100%;
    padding: 40px 0;
    margin-top: -6px;
    background-color: #f5487f;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer section span {
    text-align: center;
    
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

footer section span:nth-child(1) h4, footer section span:nth-child(2) h4 {
    margin-bottom: 10px;
}

footer section span:nth-child(3) h4 {
    font-weight: 500;
}

footer section span a {
    color: #1f306e;
    font-weight: 700;
    text-decoration: none;
}

@keyframes appears {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes reverse-appears {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1080px) {
    header nav {
        flex-direction: column;
    }

    header nav ul {
        margin-top: 14px;
    }

    .slogan {
        flex-direction: column;
    }

    .slogan div :is(h3, p) {
        text-align: center;
    }

    .plans>div {
        flex-direction: column;
    }

    footer section {
        flex-direction: column;
    }

    footer section span {
        margin: 10px 0;
    }
    
    .box {
        margin: 0.5rem 1rem;
        width: calc(260px - 5%);
    }

    .svg {
        margin-top: 40px;
        width: 250px;
        height: 250px;
    }
}
